<% if(typeof errors != 'undefined') { %>
    <% errors.forEach((error) => { %>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <strong> <%= error.msg %></strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% }) %>  
<% } %> 


<% if(success_msg != '') { %> 
    <div class="alert alert-success alert-dismissible" role="alert">
        <strong> <%= success_msg %></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %> 

<% if(error_msg != '') { %> 
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong> <%= error_msg %></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %> 

<% if(error != '') { %> 
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> <%= error %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
      </div>
<% } %> 



 