<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/fab_icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/capitulos.css">
    <title>Capitulos</title>
</head>
<body>
    <header>
        <div class="nav-logo-div">
            <a href="/dashboard"><img src="/img/PEDRO_LOGO (1).png" class="nav-logo" alt="nav-logo"></a>
        </div>
        <nav>
            <ul>
                <a href="/logline"><li>Log Line</li></a>
                <a href="/teaser"><li>Teaser</li></a>
                <a href="/sinopsis"><li>Sinopsis</li></a>
                <a href="/pedro"><li>Pedro Infante</li></a>
                <a href="/serie/capitulos"><li>Capitulos</li></a>
                <a href="/equipo"><li>Equipo</li></a>
                <a href="/contenido"><li>Contenido</li></a>
            </ul>
        </nav>
    </header>
        <div class="title-cont">
            <div>
                <h1 class="t-title">Capitulos</h1>
                <div class="line-br"></div>
            </div>
        </div>
    <section class="cap-container">
        <div class="cap-big-box">
                <a href="/serie/capitulos/episodio-1">
                    <div class="card" style="width: 18rem;" >
                        <img src="../img/CAP 12_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3>Episodio 1</h3>
                          <p class="card-text">Nombre: Un Hombre Comun</p>
                          <p class="card-text">Director: Joey Doe</p>
                        </div>
                      </div>
                </a>
            <a href="/serie/capitulos/episodio-2">
              <div class="card" style="width: 18rem;">
                  <img src="../img/CAP 2 (1).jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 2</h3>
                    <p class="card-text">Nombre: Los Tiempos Del Hambre</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-3">
              <div class="card" style="width: 18rem;">
                  <img src="../img/EP_3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 3</h3>
                    <p class="card-text">Nombre: La Tregua de la vida</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-4">
              <div class="card" style="width: 18rem;">
                  <img src="../img/EP_4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 4</h3>
                    <p class="card-text">Nombre: Nuevos Horizontes</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-5">
              <div class="card" style="width: 18rem;">
                  <img src="../img/Captura de pantalla 2021-08-03 a las 18.13.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 5</h3>
                    <p class="card-text">Nombre: Un hombre extraordinario</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-6">
              <div class="card" style="width: 18rem;">
                  <img src="../img/Captura de pantalla 2021-08-03 a las 18.26.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 6</h3>
                    <p class="card-text">Nombre: La vida es para vivirla</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-7">
              <div class="card" style="width: 18rem;">
                  <img src="../img/Cap 7 (5)_.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 7</h3>
                    <p class="card-text">Nombre: La doble vida</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-8">
              <div class="card" style="width: 18rem;">
                  <img src="../img/Cap 8 (5).jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 8</h3>
                    <p class="card-text">Nombre: El espiritu de la soberbia</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-9">
              <div class="card" style="width: 18rem;">
                  <img src="../img/CAP 9 (4).jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 9</h3>
                    <p class="card-text">Nombre: El Hartazgo</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-10">
              <div class="card" style="width: 18rem;">
                  <img src="../img/CAP 10 (2).jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 10</h3>
                    <p class="card-text">Nombre: Tarde o temprano todo se paga</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <a href="/serie/capitulos/episodio-11">
              <div class="card" style="width: 18rem;">
                  <img src="../img/EP_11.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Episodio 11</h3>
                    <p class="card-text">Nombre: De subida y de bajada</p>
                    <p class="card-text">Director: Joey Doe</p>
                  </div>
                </div>
            </a>
            <div class="card" style="width: 18rem;">
                <img src="../img/CAP 12  (2).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Episodio 12</h3>
                  <p class="card-text">Nombre: Un hombre mito</p>
                  <p class="card-text">Director: Joey Doe</p>
                </div>
              </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>