<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/fab_icon.jpg" type="image/x-icon">  
    <link rel="stylesheet" href="/css/ep1.css">
    <title>Episodio 1</title>
</head>
<body>
    <header>
        <div class="nav-logo-div">
            <a href="/dashboard"><img src="/img/PEDRO_LOGO (1).png" class="nav-logo" alt="nav-logo"></a>
        </div>
        <nav>
            <ul>
                <a href="/logline"><li>Log Line</li></a>
                <a href="/teaser"><li>Teaser</li></a>
                <a href="/sinopsis"><li>Sinopsis</li></a>
                <a href="/pedro"><li>Pedro Infante</li></a>
                <a href="/serie/capitulos"><li>Capitulos</li></a>
                <a href="/equipo"><li>Equipo</li></a>
                <a href="/contenido"><li>Contenido</li></a>
            </ul>
        </nav>
    </header>
    <div class="btn-container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Mas Info...
      </button>
    </div>

      
      <!-- Modal -->

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Un Hombre Comun</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>
                    El día de su muerte, Pedro Infante teme que María Luisa, la mujer de la que alguna vez estuvo enamorado, ahora quiera enviarlo a la cárcel, como una de las mayores venganzas que jamás haya vivido. Así. atestiguamos el último día en la vida de Pedro y el accidente de avión que selló su vida. El impacto en su familia, en sus amantes, en el país entero. La investigación del accidente corre a cargo de Samuel Jiménez y Luis Soto, ambos investigadores aeronáuticos de la recién creada SCT. Samuel ya ha investigado bastante a TAMSA y sabe que hay varias cosas turbias con ellos, aviones en mal estado, contrabando y un largo etcétera. Samuel encuentra un camafeo de oro, lo abre y descubre la foto de una misteriosa muchacha: Chavela. 
                    La respuesta está en el pasado. Conocemos al talentoso y carismático Pedro en su juventud, pobre y criado en el seno de una familia con muchos hermanos y con un padre músico y ausente y a Chavela, su primer amor, una belleza de su pueblo, le rompe el corazón al irse con otro candidato con dinero y alcurnia. Despechado y gracias a un nuevo empleo, Pedro se muda a otra ciudad donde conoce a María Luisa, una mujer mayor que él, que comparte su amor por la música y su deseo de volar. Juntos deciden escapar de sus familias para irse a la Ciudad de México a buscar fama.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>