<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5988f662b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/fab_icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/ep12.css">
    <title>Episodio 12</title>
</head>
<body>
    <header>
        <div class="nav-logo-div">
            <a href="/dashboard"><img src="/img/PEDRO_LOGO (1).png" class="nav-logo" alt="nav-logo"></a>
        </div>
        <nav>
            <ul>
                <a href="/logline"><li>Log Line</li></a>
                <a href="/teaser"><li>Teaser</li></a>
                <a href="/sinopsis"><li>Sinopsis</li></a>
                <a href="/pedro"><li>Pedro Infante</li></a>
                <a href="/serie/capitulos"><li>Capitulos</li></a>
                <a href="/equipo"><li>Equipo</li></a>
                <a href="/contenido"><li>Contenido</li></a>
            </ul>
        </nav>
    </header>
    <div class="btn-container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Mas Info...
          </button>
        </div>
    
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Descripcion</h1>
                    </div>
                    <div class="modal-body">
                      <div class="cap-descrpcion">
                        <h1 class="description-title">Un hombre mito</h1>
                        <div class="line-br"></div>
                        <div class="scroll">
                            <p class="modal-cap-p">
                                Pedro se encuentra con un co-piloto de TAMSA, que le pide que lo supla en un vuelo urgente a la Ciudad de México, porque van a operar a su esposa y él no puede hacerse cargo. Pedro, ansioso de volar, accede. Retomamos el último día en la vida de Pedro, desde que se despierta en la mañana hasta que se estrella el avión.
                                Revivimos el duelo nacional que provocó ese accidente y las consecuencias devastadoras de la muerte del ídolo en las vidas de las personas que más amó. Su madre queda sin un centavo; Irma tiene que luchar para mantener a su hija, mintiéndole que su padre sigue vivo, piloteando cada avión que ven en el cielo; Ismael queda con varios proyectos truncos, convencido de que jamás volverá a brillar como lo hizo con Pedro; Matouk termina perdiéndolo todo; y María Luisa logra su cometido: ser reconocida como la única y legítima esposa de Pedro Infante.
                                Pedro recibe el reconocimiento -póstumo- que siempre anheló: se gana el Oso de Berlín por su actuación en Tizoc y el amor eterno del público.
                                Como cierre de nuestra historia, y retomando el inicio de la serie, Samuel Jiménez, ahora encargado de investigar el accidente que le quitó la vida a Pedro, descubre que más de una persona tenía motivos para asesinarlo.
                            </p>
                            <p class="modal-cap-p">
                                Principalmente por líos de faldas con Villareal, un socio de TAMSA y con una amante del hijo del presidente Alemán; también que han desaparecido los supuestos veinte millones de pesos que él afirmaba tener entre sus bienes; que los animales que viajaban en el avión no eran contrabando, 
                                eran regalos sorpresa para sus hijos; que Pedro tenía varias propiedades por todo Yucatán sin escriturar ni testar; y finalmente descubre que el avión XA-KUN (“el bonito”) en el que Pedro se mató tenía una larga lista de antecedentes de fallas mecánicas, al que incluso él había jurado no volver a subirse; 
                                juramento que rompió para hacerle el favor a su amigo. Una decisión de buena fe que terminó arrebatándole la vida al ídolo más importante de México. Una cantidad de información que le alcanzaría para escribir diez libros y que, al final, tiene que guardarse para él por orden de Soto, que le prohíbe seguir 
                                adelante con el caso. Hay gente poderosa involucrada y se están jugando la vida. Este reporte tiene que desaparecer. Esa misma tarde, que Samuel quema sus notas, Luis Soto en cadena nacional declara: “el accidente fue responsabilidad humana, fue culpa del mismo Pedro Infante”. 
                            </p>
                        </div>
                        <div class="arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                      </div>
                      <div class="modal-cap-img">
                        <img class="img-cap" src="/img/S1.png" alt="">
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>