<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/fab_icon.jpg" type="image/x-icon">
    <link href="./css/index.css" rel="stylesheet" type="text/css"></link>
    <title>Pedro Infante</title>
</head>
<body>

    <div class="myVideo">
      <video autoplay muted loop id="myVideoN" >
        <source src="./img/CABINA_LOOP.mp4" type="video/mp4">
      </video>
    </div>
    <header>
      <div class="nav-logo-div">
      </div>
      <nav>
          <ul>
              <a href="/logline"><li>Log Line</li></a>
              <a href="/teaser"><li>Teaser</li></a>
              <a href="/sinopsis"><li>Sinopsis</li></a>
              <a href="/pedro"><li>Pedro Infante</li></a>
              <a href="/serie/capitulos"><li>Capitulos</li></a>
              <a href="/equipo"><li>Equipo</li></a>
              <a href="/contenido"><li>Contenido</li></a>
          </ul>
      </nav>
  </header>
    <button class="content2" id="button-g" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <%= name %>
    </button>
    
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Panel de Control</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h4>¡Buenas Tardes <%= name %>!</h4>
        <div>
          Esta es la pagina oficial de la Bioserie de Pedro Infante. Esta pagina es solo para uso exclusivo y muy confidencial. Aqui podra ver las actualizaciones de la informacion y los avances de la serie.
        </div>
        <div class="dropdown mt-3">
            <a href="/users/logout" class="btn btn-secondary">Cerrar Sesión</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
</form>