<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pedro.css">
    <title>Pedro Infante</title>
</head>
<body>
    <header>
        <div class="nav-logo-div">
            <a href="/dashboard"><img src="img/PEDRO_LOGO (1).png" class="nav-logo" alt="nav-logo"></a>
        </div>
        <nav>
            <ul>
                <a href="/logline"><li>Log Line</li></a>
                <a href="/teaser"><li>Teaser</li></a>
                <a href="/sinopsis"><li>Sinopsis</li></a>
                <a href="/pedro"><li>Pedro Infante</li></a>
                <a href="/equipo"><li>Equipo</li></a>
                <a href="/contenido"><li>Contenido</li></a>
            </ul>
        </nav>
    </header>
    <section class="pedro-sect">
        <div class="pedro-info">
            <h1 class="pedro-name">Pedro Infante</h1>
            <h4 class="pedro-cat">Personaje</h4>
            <p>Nace en Sinaloa en 1917 en el seno de una familia humilde y numerosa. Terminó la primaria y ejerció diversos oficios, notablemente el de carpintero, para contribuir a la economía familiar. Su padre, músico, le enseñó a cantar y a tocar varios instrumentos. Decidió, en 1939, después de dejar embarazada a una muchacha y enamorarse de otra, mudarse con la segunda a la ciudad de México y buscar trabajo allí como cantante. Tras pasar penurias, consiguió trabajar en la radio, luego como crooner en salones y extra en películas. Fue invitado a interpretar personajes más importantes en el cine, comenzó a grabar discos y conoció a Ismael Rodríguez, joven director y productor. Con él, alternando presentaciones y giras musicales, realizó sus películas más célebres y comenzó “a ganar dinero que le llegaba por montones”. 
            </p>
        </div>
    </section>
    
</body>
</html>