<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/fab_icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/sinopsis.css">
    <title>Sinopsis</title>
</head>
<body>
    <header>
        <div class="nav-cont">
            <div class="nav-logo-div">
                <a href="/dashboard"><img src="img/PEDRO_LOGO (1).png" class="nav-logo" alt="nav-logo"></a>
            </div>
            <nav>
                <ul>
                    <a href="/logline"><li>Log Line</li></a>
                    <a href="/teaser"><li>Teaser</li></a>
                    <a href="/sinopsis"><li>Sinopsis</li></a>
                    <a href="/pedro"><li>Pedro Infante</li></a>
                    <a href="/serie/capitulos"><li>Capitulos</li></a>
                    <a href="/equipo"><li>Equipo</li></a>
                    <a href="/contenido"><li>Contenido</li></a>
                </ul>
            </nav>
        </div>
    </header>
        <section class="sin-cont">
            <div>
                <nav id="navbar-example2" class="navbar px-3">
                    <a class="navbar-brand" href="#">Sinopsis</a>
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link" href="#scrollspyHeading1">1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#scrollspyHeading2">2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#scrollspyHeading3">3</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#scrollspyHeading4">4</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#scrollspyHeading5">5</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading6">6</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading7">7</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading8">8</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading9">9</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading10">10</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading11">11</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading12">12</a></li>
                          <li><a class="dropdown-item" href="#scrollspyHeading13">13</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                  <div class="scrl" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                    <h4 id="scrollspyHeading1">1</h4>
                    <p>Mérida, Yucatán. 15 de abril de 1957.
        
                        Pedro Infante, sensual y carismático, pero atormentado por problemas legales y amorosos se desquita
                        ejercitándose en su gimnasio. María Luisa de Infante amenaza con meterlo a él y a su nueva pareja a la
                        cárcel a menos que Pedro afirme ante todos los medios que María Luisa es su única y legítima esposa.
                        
                        El astro finge no estar preocupado, pero tiene que volar ahora mismo a la Ciudad de México para atender
                        este asunto y evitar que se haga un escándalo mayor que pudiera afectar su carrera.
                        
                        Llega con su poderosa Harley Davidson al aeropuerto, saluda coqueto a cuanta fémina se atraviesa en su
                        camino y llega hasta el hangar de TAMSA, donde los empleados están metiendo una enorme carga al avión.
                        Entre la carga hay animales exóticos, telas de contrabando, pescado fresco y una misteriosa caja. Los
                        mecánicos se apresuran en acabar unas reparaciones dado que el avión llevaba más de una semana sin
                        volar y había tenido varios problemas mecánicos anteriormente.
                        
                        El Tetramotor con matrícula XA-KUN de TAMSA inicia la carrera para despegue y a duras penas consigue
                        alzar vuelo antes de que se acabe la pista. De inmediato, los pilotos advierten que hay problemas. Pedro,
                        preocupado, le habla al avión: “Vamos bonito, vamos bonito, vamos...”. Pedro le pide al capitán Vidal que
                        
                        incremente la velocidad. El capitán lleva las palancas al máximo: los motores no responden, la vibración de la
                        nave se incrementa. “No se está levantando.” Ambos hombres se miran y tratan de controlar el pánico.</p>
                    <h4 id="scrollspyHeading2">2</h4>
                    <p>Pedro le pide al mecánico que se deshaga de la carga. El hombre se abre paso como puede entre los
                        amarres, Pedro lo ayuda, y mientras uno abre las compuertas, el otro corta los cinchos que sujetan los
                        contenedores de madera. Entre los dos hacen un gran esfuerzo para empujar las cajas. Cajas de pescado
                        fresco y rollos de telas vuelan por los aires de la Ciudad Blanca, se estrellan con estruendo contra el suelo.
                        
                        Los habitantes de Mérida ven caer peces del cielo. El choque es inminente. En el rostro de Pedro desfilan
                        
                        imágenes de las escenas más dramáticas de su vida.
                        
                        La noticia se esparce como pólvora y conmociona a todo México: ¡Pedro Infante ha muerto!
                        
                        Días después, Samuel Jiménez, un policía investigador y amigo de Pedro en la infancia, se presenta en el
                        lugar del accidente con el fin de desvelar las verdaderas razones que pudieron haber provocado la caída del
                        avión. Hay muchas irregularidades: tren de aterrizaje descompuesto, animales exóticos y más mercancía que
                        no venía en el acta oficial, licencias vencidas, una bala y más cosas que lo llevan a hacerse varias preguntas:
                        ¿Por qué se subió Pedro Infante a ese avión de carga? ¿En qué condiciones iba el aparato? ¿Hacían
                        contrabando en TAMSA? ¿Pudo ser un acto de sabotaje? ¿Alguien tenía motivos para matar a Pedro Infante?
                        
                        Las múltiples preguntas que le detonan a nuestro investigador, son el hilo narrativo que nos llevará al
                        pasado, a los recuerdos del ídolo de México. Conoceremos a un Pedro joven, carismático y pobre. Haremos
                        un recorrido a través del tiempo, con muchos momentos coloridos, pero también algunos oscuros.</p>
                    <h4 id="scrollspyHeading3">3</h4>
                    <p>Esta serie narra una increíble pero verídica aventura: la del vertiginoso ascenso y la inexplicable caída de
                        uno de los íconos más importantes de los mexicanos. Aquel que todos adoraban, pero que nadie conocía
                        realmente: Pedro Infante. Impregnada de sensualidad y erotismo, esta bioserie refleja la verdadera
                        personalidad del artista y revela aspectos íntimos de su vida hasta ahora desconocidos.
                        
                        Samuel comienza por reconstruir la vida de Pedro desde su adolescencia, cuando Pedro era un pueblerino
                        más, criado en una familia pobre. Pero Pedro era diferente a todos. En medio de todas esas carencias que
                        marcaron su infancia, Pedro tiene una irreprimible alegría por la vida, por la música, tiene una energía fuera
                        de lo común, y un fuerte poder de seducción del que comienza a ser cada vez más consciente.
                        
                        Por donde Pedro pasa, siembra algo bueno en alguien. Eso sucede con Samuel Jiménez, tan sólo un hijo
                        de vecino al que Pedro suele ayudar y motivar aunque sea un niño maltratado por su madre. Samuel Jiménez
                        no lo olvidará nunca y, de hecho, le atribuye a Pedro que él haya logrado superarse, salir de ese mundo y
                        volverse un policía de alto nivel de Sinaloa.
                        
                        Pedro es una persona excepcional y tiene heridas muy profundas. Heridas que más tarde sabrá usar a su
                        favor, pero heridas al fin. Una de ellas es su primer corazón roto. Pedro se enamora de Chavela, una vecina
                        de su pueblo que le rompe el corazón yéndose del brazo de un hombre poderoso; este evento lo marca de
                        por vida. Además de anularlo y rechazarlo, la vida le pone en claro a este soñador que su condición de
                        pobreza, su falta de educación formal y sus orígenes podrían impedirle cumplir sus sueños.</p>
                    <h4 id="scrollspyHeading4">4</h4>
                    <p>Despechado, con una gran dificultad para superar ese fracaso y para olvidarla lo más rápido posible, Pedro
                        trabaja duro como carpintero y músico, se empeña en todo lo que se propone, encuentra en la ocupación su
                        mejor medicina. Sin esperarlo, y sin estar listo, conoce a una mujer que por fin cambiará su destino, para bien
                        y para mal: María Luisa León, una mujer diez años mayor. Ella es la primera y única que cree fielmente en él y
                        su talento. Para Pedro, que está a punto de rendirse, a quien nadie de su familia apoya realmente, y a quien
                        la vida le recuerda constantemente que no es nadie, eso es algo especial y digno de valorar. Rápidamente,
                        Pedro y María Luisa se conectan en el hecho de que ninguno de los dos se siente comprendido, y los dos
                        sienten una enorme necesidad de irse de ahí. La relación desborda amor y pasión. En ese torbellino
                        emocional, María Luisa impulsa a Pedro a perseguir sus sueños y ambiciones de ser famoso. Ambos tienen
                        muy poco dinero, pero cuentan con el poder del amor. El frenesí de la relación lo lleva a no poder percibir que
                        la obsesión de María Luisa por él se puede volver estranguladora.
                        
                        Finalmente escapan juntos a la Ciudad de México, como un acto de tremenda valentía y rebeldía. Este será
                        un paso gigante en el largo camino azaroso que hará nacer al ídolo que en poco tiempo se ganará el corazón
                        de todos los mexicanos.
                        
                        Pedro y María Luisa se las arreglan como pueden para sobrevivir en una Ciudad de México en plena
                        efervescencia. Una ciudad en donde todo es posible, las oportunidades están a la vuelta de la esquina.</p>
                    <h4 id="scrollspyHeading5">5</h4>
                    <p>Pedro, un hombre de campo en ese entonces, se enfrenta a una ciudad hostil y desconocida. Lo único que
                        tiene bajo el brazo es su talento, pues no conoce a nadie del medio artístico. El poco dinero que llevaban se
                        les está acabando, y la joven pareja come solamente una vez al día, pero ninguno de los dos quita el dedo del
                        renglón. Tienen fe en que Dios, la Virgencita y los talentos de Pedro pronto darán frutos. Así comienza un
                        difícil camino para lograr que lo dejen cantar. También vemos su intrépida aventura como actor de cine; al
                        principio como extra y poco a poco ganándose personajes más protagónicos. Sin embargo, María Luisa
                        quiere algo: casarse con Pedro. Pedro, muy cómodo, sintiendo que la vida conlleva ciertos compromisos y
                        pensando que María Luisa es la indicada para él, cree que están en lo correcto formalizando su unión: los dos
                        se casan, y, al firmar Pedro, es como si firmara una condena, aunque todavía no sabe de qué.
                        
                        El cine lo conquista. En cuanto pisa un foro cinematográfico, bullicioso, con hermosas mujeres, luces que
                        parecen soles, Pedro sabe que quiere pertenecer a este mundo. Desde niño adora a Tom Mix, le encantaba
                        ver su películas silentes, y si antes pensaba que ese era un mundo que solo existía en los sueños, ahora
                        quiere ser uno de esos creadores de sueños.</p>
                    <h4 id="scrollspyHeading6">6</h4>
                    <p>A pesar de su ímpetu y sus ganas de ser alguien, el camino está empedrado y no le será fácil destacarse.
                        Sin embargo, Pedro se sobrepone a varios fracasos y a una gran humillación cuando, en lugar de provocar
                        las lágrimas buscadas, el público ríe al verlo en la pantalla grande. Poco tiempo después, Pedro conoce al
                        cineasta Ismael Rodríguez, quien entiende que esa aparente “debilidad” en su actuación puede ser en
                        realidad una gran oportunidad para cautivar al público mexicano. El poder de divertir a la gente lo tienen
                        
                        pocos.
                        
                        A partir de ese encuentro con Ismael, la carrera de Pedro da un salto enorme. Pedro se empeña en
                        
                        prepararse, en moldear su cuerpo, en modular su voz, en aprender a leer con soltura a pesar de haber
                        cursado solamente cuatro años de primaria y comienza a interpretar papeles icónicos en la historia del cine
                        nacional con cintas como Nosotros los pobres, Ustedes los ricos y Pepe el Toro.
                        
                        Los personajes interpretados por Pedro no sólo logran una conexión casi mágica con las clases populares,
                        sino que Pedro se vuelve una estrella a niveles insospechados. Se convierte en un galán deseado por las
                        mujeres, todas enloquecen con tan solo una mirada suya, un roce, o un beso... Las vuelve locas de pasión, y
                        eso, a él, también lo seduce. Mujeres que se forman para besarlo, arrebatos pasionales en camerinos, nadie
                        quiere dejar escapar un poco de Pedro. Y eso, tarde o temprano comienza a pasarle factura en su relación
                        con María Luisa.</p>
                    <h4 id="scrollspyHeading7">7</h4>
                    <p>Por muchas razones, la relación con María Luisa comienza a desgastarse y volverse dañina para ambos.
                        La esterilidad de María Luisa es la chispa que enciende la bomba. Pedro duda si todavía la ama, pero María
                        
                        Luisa no va a dejar que la abandone. Nunca.
                        
                        En su camino a la fama, la obsesión de Pedro por las mujeres se acrecienta, pocas le ponen resistencia, y
                        el galán comienza a excederse en otros aspectos: come muchísimo y acentúa la diabetes que lo aqueja;
                        derrocha con el dinero y tiene gustos costosos: motos, coches, casas y, su gran pasión, los aviones. También
                        crece su espíritu temerario, por el que más de una vez se juega la vida en peligrosos vuelos —un anticipo del
                        destino trágico que más tarde caerá sobre él.
                        
                        Con María Luisa, la relación está en franca decadencia. María Luisa manda a la criada a espiar a Pedro,
                        
                        pero Pedro, seductor como es, termina embarazándola.
                        
                        Estando en la cúspide de su éxito, Pedro se da cuenta de que esa vida no era lo que esperaba. Dentro de
                        
                        él siente crecer un vacío que no sabe manejar y empieza a sentirse devorado por una vorágine de
                        acontecimientos que lo abruman. Algunos son consecuencia de los grandes compromisos que conlleva el
                        éxito, otros son el fruto de sus malas decisiones: intenta dejar a María Luisa —con quien no pudo tener hijos y
                        de la que ya no está enamorado— y comienza una relación con Lupita Torrentera; tiene giras intensas y
                        desgastantes; los escándalos mediáticos lo tachan de mujeriego; hay una multitud de parientes que se han
                        acostumbrado a vivir de las mieles de su trabajo y dependen cada vez más de él...</p>
                    <h4 id="scrollspyHeading8">8</h4>
                    <p>Todo comienza a conspirar en su contra.
        
                        En el fervor de la fama, la alianza de Pedro con su manager Antonio Matouk es un arma de dos filos.
                        Gracias a esto, Matouk le negocia sueldos astronómicos y Pedro empieza a tener mayores ambiciones, como
                        crear su propia productora de cine. El actor mejor pagado de su época confía ciegamente en su socio y, para
                        que María Luisa (ante una evidente separación tras el romance con Lupita Torrentera) no se quede con todo
                        su dinero, Pedro decide poner todas sus propiedades, acciones y cuentas bancarias a nombre de Matouk.
                        Quizá también sea un error separarse de su dupla creativa Ismael Rodríguez, pero a Pedro le gusta volar alto
                        y comienza a trabajar con otros directores, aunque pronto se da cuenta de que ellos no saben explotar sus
                        dones y que los grandes éxitos que lograron juntos Ismael y él no se están repitiendo. Y el público enamorado
                        de Pedro también lo resiente.
                        
                        Entre sus múltiples romances con las mujeres más bellas del mundo del espectáculo, sus problemas
                        maritales y su intensa vida profesional, Pedro vive varias pérdidas que le recuerdan constantemente que la
                        vida pasa como un suspiro. Pierde a su primera hija, Graciela Margarita, pero también a su amiga Blanca
                        Estela Pavón. Miroslava, su amante, se suicida. Al poco tiempo su padre muere. Y Jorge Negrete, su eterno
                        rival y modelo a la vez, muere tras la enfermedad que lo aquejaba.</p>
                    <h4 id="scrollspyHeading9">9</h4>
                    <p>Pedro siente que la muerte le toca a la puerta y para huir de sus propios pensamientos, de una forma
                        contradictoria, suele subirse constantemente a su propio avión para perderse en las nubes y en el cielo. Esos
                        vuelos le ayudan a escapar de una realidad que le causa muchos dolores de cabeza, incluso a pesar de los
                        repetidos accidentes que le piden a gritos que haga un alto en su vida.
                        
                        A raíz de un segundo accidente de avión, Pedro sufre un traumatismo craneano que lo deja al borde de la
                        muerte, y por el que tienen que operarlo de urgencia y poniéndole una placa metálica. Pero, una vez fuera de
                        peligro, su convalecencia no lo detiene. Sigue arriesgando la vida y haciendo locuras, como las acrobacias en
                        moto en la filmación de la famosa película “A Toda Máquina”.
                        
                        Pedro vive cada día como si fuera el último y él, que ha sentido a tantas mujeres desfilar entre sus brazos,
                        se enamora por tercera vez, pero en esta ocasión quiere que esa mujer sea suya, sólo suya. Meses dura el
                        cortejo de Irma Dorantes, la mujer que lo enloquece y por quien llega a infringir la ley (falsifica un acta de
                        divorcio de María Luisa, con tal de poder casarse con la joven actriz). María Luisa se entera e inicia un pleito
                        legal para anular ese matrimonio, mismo que escala a niveles de prensa amarillista, pero también hacia la
                        Suprema Corte de Justicia. Lupita Torrentera, con la que tuvo otros dos hijos, deja para siempre a Pedro.</p>
                    <h4 id="scrollspyHeading10">10</h4>
                    <p>Aún con la turbulencia en su vida privada, y su éxito consumado en su vida profesional, Pedro tiene una
                        sed de reconocimiento que le pica el orgullo. Si bien las masas lo adulan, los intelectuales y la comunidad del
                        cine más artístico lo menosprecian. Por eso persigue el premio del Ariel, porque quiere ser visto como un gran
                        actor. Quiere que reconozcan su talento histriónico.
                        
                        Como socio de Matouk Films, necesita producir una gran película, esa gran película que lo posicione en lo
                        más alto del mapa actoral. Pero sabe que solo Ismael puede lograr dicha hazaña. Ambos se vuelven a
                        encontrar, Pedro le confiesa que lleva años queriendo interpretar al indio Juan Diego, pero Ismael Rodríguez,
                        visionario como siempre, transforma esta idea en una película que podría cambiar el rumbo de sus carreras:
                        Tizoc. Matouk le ayuda a Pedro a conseguir el salario de María Félix a partir del contrabando de mercancías.
                        
                        Semanas antes de su muerte, Pedro le hace una promesa a sus hijos. Ahora las cosas serán diferentes.
                        “Pasaremos más tiempo juntos y les prometo que no los volveré a abandonar nunca”. Y así, con esas
                        palabras, un tierno beso y un largo abrazo, Lupita y Pedrito se despiden de su padre, sin saber que esa será
                        la última vez que lo verán con vida.
                        
                        El 15 de abril de 1957, Pedro se sube a un avión para volar a la Ciudad de México, quiere resolver de forma
                        pacífica el pleito legal con María Luisa, y evitar que Irma y él vayan a la cárcel. Sin embargo, de ese viaje ya
                        no volverá a tocar tierra en vida.</p>
                    <h4 id="scrollspyHeading11">11</h4>
                    <p>Sucede lo inevitable y el tetramotor de Tamsa cae en plena ciudad de Mérida. Pedro muere calcinado junto
                        con la tripulación y algunos infortunados que se encontraban en el lugar donde cayó el avión.
                        
                        Todo México está conmocionado. Pedro ha muerto. No pueden creer que acaban de perder a su máximo
                        ídolo.
                        
                        Pedro, la mayor estrella del momento, muere intestado. Luego de 61 películas, 7 nominaciones al Ariel y
                        uno ganado, 366 canciones con 170 compositores, 52 discos, 25 millones de acetatos vendidos, 20 millones
                        de copias de una sola canción, ni sus hijos ni su madre reciben lo que les corresponde de la herencia. Como
                        si Pedro nunca hubiera existido. Como si con la muerte de Pedro se hubiera roto con algún encantamiento.
                        
                        Al poco tiempo de su muerte, Matouk viaja a Alemania para recibir el Oso de Plata de la Berlinale que se le
                        otorgó a Pedro como mejor actor, por su actuación en Tizoc. Competía en dicha categoría contra estrellas de
                        talla internacional. Hasta el día de hoy es la presea extranjera más importante que haya recibido un actor
                        mexicano. Allí será donde culmine la historia del hombre y comience la del mito.
                        
                        En esta emocionante y reveladora serie de 12 capítulos, podremos conocer de primera mano al ídolo de
                        México, sus amores y sus pasiones. Descubriremos sus fortalezas y debilidades. Y también intentaremos
                        respondernos la pregunta que todo el mundo tiene en la cabeza: ¿cuál fue la verdadera causa del accidente
                        que le arrebató la vida a Pedro Infante?</p>
                    <h4 id="scrollspyHeading12">12</h4>
                    <p>A través de la investigación de Samuel Jiménez, comprenderemos por qué Pedro, —aún siendo consciente
                        de los grandes peligros de abordar un viejo avión que tenía fallas mecánicas e iba sobrecargado de
                        mercancías—, decidió hacer ese viaje altamente riesgoso, que se lo llevó al otro mundo cuando se
                        encontraba en la cumbre del éxito.</p>
                    <h4 id="scrollspyHeading13">13</h4>
                    <p>FIN...</p>
                  </div>
            </div>
        </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>