* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/backplane.png);
    font-family: 'Times New Roman', Times, serif;
}

/* #### NAV #### */
header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 18px;
    font-size: 21px;
    color: white;
}

nav {
    margin-right: 50px;
}

.nav-logo-div {
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.nav-logo {
    width: 100%;
    height: 100%;
}

.card {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center; 
   margin: 15px;
   font-family: sans-serif;
}

.staff-cont {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.staff-big-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
