* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body, .back-img { height: 100%;}

body {
    background-image: url(../img/flipedpedro.png);
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 18px;
    font-size: 21px;
    color: white;
}

nav {
    margin-right: 50px;
}

.nav-logo-div {
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.nav-logo {
    width: 100%;
    height: 100%;
}

.logline-sect {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.logline-div {
    width: 700px;
    margin-left: 200px;
    margin-top: 200px;
}

.logline-title {
    color: white;
    font-size: 60px;
}

.logline-p {
    color: white;
    font-size: 21px;
}

@media screen and (max-width: 1500px) {
    .logline-div {
        height: 600px;
        margin-top: 170px;
        margin-left: 80px;
    }

    .logline-title {
        font-size: 50px;
    }

    .logline-p {
        font-size: 20px;
    }
}